# Node modules
node_modules/

# TypeScript output
dist/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Dependency lock (si tu utilises yarn)
yarn.lock

# Reports
report-*.pdf
#*.json

# Dépôts clonés
repos/

# applications et bibliothèques
packages/

# Rapports générés
generated/


# Cache ou fichiers temporaires
*.tmp
*.bak

# IDEs
.vscode/
.idea/
*.swp
